<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dream.xiaobei">

    <application
        android:name=".XiaoBeiApp"
        android:allowBackup="false"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon_app"
        android:theme="@style/Theme.CbgBase">
        <activity
            android:name=".login.HuiWanActivity"
            android:exported="false" />
        <activity android:name=".login.AccountPasswordActivity" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" /> <!-- 全面屏适配 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" /> <!-- 华为刘海屏区域使用 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <activity android:name=".other.LaunchActivity" />
        <activity android:name=".main.MainActivity" />
    </application>

</manifest>